/* Extra small */
@media only screen and (max-width:600px){

}
/* Small */
@media only screen and (min-width:600px){

}
/* Medium */
@media only screen and (min-width:768px){

}
/* Large */
@media only screen and (min-width:992px){

}
/* Extra */
@media only screen and (min-width:1200px){

}
body{
  margin:0;
  padding:0;
  border:0;
}
#two{
  background-image: url("https://images5.alphacoders.com/381/381504.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:1000px;
  padding-top: 10%;
}
.word{
  color:black;
  margin-left:30%;
  font-weight:bold;
  font-size:80px;
  height:200px;
  padding-top:5%;
}
.sizing{
  margin-left:20%;
}
.topping{
  margin-left:20%;
}
.crust{
  margin-left:20%;
}
.foot{
  color:beige;
  margin-left:40%;
}
.intro{
  background-image: url("https://images8.alphacoders.com/369/369063.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:800px;
}