/* Extra small */
@media only screen and (max-width:600px){

}
/* Small */
@media only screen and (min-width:600px){

}
/* Medium */
@media only screen and (min-width:768px){

}
/* Large */
@media only screen and (min-width:992px){

}
/* Extra */
@media only screen and (min-width:1200px){

}
*{
  margin:0;
  padding:0;
  border:0;
}
#two{
  background-image: url("https://images5.alphacoders.com/381/381504.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:1020px;
  padding-top: 10%;
}
.sizing{
  margin-left:20%;
}
.topping{
  margin-left:20%;
}
.crust{
  margin-left:20%;
}
.foot{
  color:beige;
  margin-left:40%;
}
.intro{
  background-image: url("http://paperlief.com/images/pizza-slice-wallpaper-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:800px;
}
.order{
  height: 30px;
  margin-left:30%;
}
.logo{
	margin: 5px 50px;
  height: 89px;
  width:200px;
}
ul {
  list-style-type: none;
  margin-top: none;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  /* float:right; */
}
#myorder{
  background:grey;
}
/* #an{

} */
#comm{
  display: none;
}
.T{
  display: none;
  float: left;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.foot{
  /* margin-top:5%; */
  color:black;
}


